<div class="col-md-6 offset-md-3 post">
	<h3 class="page-title">Post A New Image</h3>
	<form novalidate ng-submit="controller.postImage()">
		<label for="title" class="input-label">Image Title:</label>
		<input 	type="text"
				class="input-text"
				name="title"
				ng-model="controller.postData.title"
				placeholder="Super Awesome Image">

		<label for="url" class="input-label">Image URL:</label>
		<input 	type="text"
				class="input-text"
				name="url"
				ng-model="controller.postData.url"
				placeholder="http://instagram.com/adsfasd">

		<label for="description" class="message-label">Image Description</label>
		<textarea 	class="message-text"
					name="description"
					ng-model="controller.postData.description">
		</textarea>

		<button type="submit" class="btn btn-post">Submit Image</button>
	</form>
</div>
