header {
	background-color: $color-alt-background;

	nav {

		ul {
			text-align: center;
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				color: $color-background;
				display: inline-block;
				padding: 3px 10px;
				margin: 7px 5px;
				border-radius: 6px;

				&:hover,
				&.active {
					background-color: lighten($color-alt-background, 10);
				}
			}
		}
	}

}

.logo-block {
	padding: 30px 0;
	text-align: center;
	color: $color-alt-background;

	.logo {
		font-family: 'Leckerli One', cursive;
		font-size: 4em;
		margin: 0;
	}

	.sublogo {
		font-size: 1.4em;
		text-transform: uppercase;
		margin: 0;
		position: relative;
		left: 53px;
		top: -24px;
	}
}
