.user-details {
	padding: 60px 0;
	background-color: lighten($color-alt-background, 14);
	color: $color-background;

	// &:before {
	// 	content: "";
	// 	width: 100%;
	// 	height: 200px;
	// 	display: block;
	// 	position: fixed;
	// 	left: 0;
	// 	right: 0;
	// 	z-index: -1;
	// 	background-image: url('../images/avatar.jpg');
	// 	background-size: cover;
	// 	filter: blur(10px);
	// }

	.user-avatar {
		width: 157px;
		height: 157px;
		border-radius: 50%;
		display: block;
		margin: 0 auto;
		float: right;
	}

	.user-username {
		font-size: 1.8em;
		padding-top: 20px;
		margin: 0;
	}

	.user-description {
		max-width: 425px;
		font-weight: 300;
	}

}
